.container {
  margin: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.card-img img {
  width: 35%;
}

.card-section {
  margin: 10px 0;
}

.card-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  width: 40%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0069d9;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn.jed {
  margin-right: 1rem;
}


